body{
    font-family: 'Lemon/Milk', Arial, Helvetica, sans-serif;
}

.popup{

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.6);
	
	display: flex;
	align-items: center;
	justify-content: center;
}


.pop-inner {
    background: #FFF;
    padding: 3rem 2rem;
    width: 60%;
}
.popup-close{
    position: absolute;
    font-family: calibri;
    font-weight: bolder;
    top: 10px;
    right: 10px;
    background-color: #FFF;
    border: 1px solid;
    border-color: #0d6efd;
    border-radius: 0.25rem;
}

.fondo {
    background-color:aliceblue;

}
.colr .card{
    background-image: url("../js/images/gdl.webp");
    
    background-repeat: repeat;
    background-size: cover;
}
.wa-float{
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 50px;
    right: 50px;
    z-index: 100;
}

.short-w{
    display:block;
}
.carousel-1 img{
    height: 600px;
}
.nav-color{
    background-color: #005cc4;
    

}
span {
    color: aliceblue;
    
}
a:link {
    color: aliceblue;
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
.navbar-margin{
    width: 80%;
}

.coll{
    flex: 0 0 auto;
    width: 33%;
}
.coll img{
    height: auto;
}

.bg-r{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

img{
    border-radius: 0.25rem;

}



.altx p{
    text-align: left;
}
.altx li{
    list-style: none
}
.colr{
    flex: 0 0 auto;
    width: 67%;
    align-items: center;
}
.career-atn{
    display: flex;
    margin-top: 1rem;
}

.career{
    flex: 0 0 auto;
    width: 67%;
    text-align: center;
}
.atn{
    flex: 0 0 auto;
    width: 33%;
}
.coll{
    flex: 0 0 auto;
    width: 33%;
}
.intro{
    
    color: aliceblue;
    background-color: rgba(8, 35, 78, 0.829);
    border-radius: 5px;
    padding: 2rem;
}
.intro h3,p,h2,hr,h5 {
    text-align: center;
    padding-bottom: .3rem;

}
.form1{
    height:  10rem;
    display: flex;
    justify-content: center;
}

.thrid{
    height:  10rem;
    position: relative;
}
.form1 p,h5{
    color: aliceblue;
}


.btn{
    background-color: #0077ce;
}

.btn:hover{
    background-color: #005cc4;
}

.form1 button, .form1 a{
  color: black;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgba(240, 248, 255, .5);
  
}

.servs{
    position: relative;

}
.servs h4{
  background-color: rgba(240, 248, 255, .5);
  font-weight: bolder;
  padding: 1rem;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}

form label{
    font-weight: bold;
}
.data-user{
    padding-right: 1rem;
}

.info-user{
    padding-left: 1rem;
    
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.last-div-group{
    
    display: flex;
    justify-content: center;
    padding: 4rem;
    color: aliceblue;
}
.last-text{
    padding: 2rem;
}

.w-oline{
    display: flex;
    border: 1px solid;
    width: 80%;
    margin: auto;
    opacity: 1;
}

.d-space{
    height: 300px;
}

.h3-color{
    color: aliceblue;
}

.div-us{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url("../js/images/us.webp");
    background-position: -30%;
    background-size: cover;
    border-radius: 5px;
    margin-top: 2rem;

}
.div-mision{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url("../js/images/mision.webp");
    background-size: cover;
    border-radius: 5px;
    margin-top: 2rem;
}
.div-vision{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url("../js/images/vision.webp");
    background-size: cover;
    border-radius: 5px;
    background-position: -1%;
    margin-top: 2rem;
}

.cont-about{
    background-color: rgb(223, 227, 231, .8);
    width: 50%;
    margin-left: 50%;
    padding: 2rem 2rem;
    border-radius: 5px;

}
.cont-about h2{
    margin-top: 10%;
    height: 20%;

}

.services img{
    padding: 1rem 1rem;
    border: 10px;
    width: 300px;
    height: 300px;
}

.footer-down{
    background-color: #005cc4;
}
.footer-up{
    background-color: #0077ce;
}

@media only screen and (max-width: 770px) {

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        
        display: block;
    
    }
    .navbar-margin{
        margin: 0 auto;
        text-align: center;
    }
    
    .pop-inner {
        padding: 2rem 1rem;
        width: 90%;
    }

    .navbar-brand,.emergency{
        width: 100%;
    }
    .coll{
        margin-top: 2.5rem;
        width: 100%;
    }
    .colr{
        margin-top: 1rem;
        width: 100%;
    }
    .career-atn{
        display: block;
    }
    .career{
        width: 100%;
    }
    .atn{
        margin-top: 1rem;
        width: 100%;
    }
    .form1 button, .form1 a{
    
        width: 100%;
    }
    
}
